@model IEnumerable<ilmSalohiyat.Models.Gallery>

@{
    ViewData["Title"] = "Курсы";
}

<h2 class="text-center text-uppercase">Галерея</h2>


<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-sm-3" style="margin:10px;">
            <div class="card" style="width:300px; padding:10px; margin:5px;">
                <img class="card-img-top" style="height:300px;" src="~/img/@item.ImageURL" alt="Изображения">
                <div class="card-body">
                    <h6 class="card-title">@item.Name</h6>
                </div>
            </div>
        </div>
    }
</div>
