@model IEnumerable<ilmSalohiyat.Models.Gallery>

@{
    ViewData["Title"] = "Index";
}

<h3 class="text-center text-uppercase">Галерея</h3>

<p>
    <a asp-action="Create" class="btn btn-primary rounded-0"><i class="fa fa-plus-circle"></i> Add New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Изображение</th>
            <th>Имя изображение</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="~/img/@item.ImageURL" class="img-thumbnail" height="100" width="100" asp-append-version="true" />
                    </a>
                </td>
                <td>@item.Name</td>
                <td>
                    <a asp-area="manager" asp-controller="Galleries" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info rounded-0"><i class="fa fa-pencil-alt">Изменить</i></a>
                    <a asp-area="manager" asp-controller="Galleries" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger rounded-0"><i class="fa fa-trash-alt">Удалить</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>