@{
    ViewData["Title"] = "Адрес";
}

<h1 class="text-center text-uppercase">Адрес</h1>
<hr />
<h4>
    Тошкент шаҳри, Яшнобод тумани, Авиасозлар-2 мавзеси, 14-уй.
    Тел.: 71-2979798; 90-9829498
</h4>
<br />
<br />
<h3 class="text-center text-uppercase">Самаркандский филиал</h3>
<h4>
    Самарқанд шаҳри, Мирсаид барака кўчаси, Академик (собиқ Санъат) лицей биноси.
    Тел.: 91-5240913; 94-2857275
</h4>