@model ilmSalohiyat.Models.News

@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <h3 style="text-align:center;">@Model.Name</h3>
    <hr />
    <div>
        <h6>
            @Model.Comment
        </h6>
    </div>
    <div>
        <a asp-action="Index">Назад</a>
    </div>
</div>
