@{
    ViewData["Title"] = "Ilm salohiyat";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-3" style="margin:10px;">
            <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id" style="text-decoration:none; color:black">
                <div class="card" style="width:250px;">
                    <img class="card-img-top" style="height:200px;" src="~/img/@item.ImageURL" alt="Изображения">
                    <div class="card-body">
                        <h4 class="card-title">@item.Name</h4>
                    </div>
                    <div class="card-footer">
                        <h6>Стоимость : @item.Price</h6>
                    </div>
                </div>
            </a>
        </div>
    }
</div>