@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-3">
        <div class="card" style="width:auto; padding:10px; margin:5px;">
            <img class="card-img-top" src="~/img/docker.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">card Title</h4>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: auto; padding: 10px; margin: 5px;">
            <img class="card-img" src="~/img/docker.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-text">card Title</h4>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: auto; padding: 10px; margin: 5px;">
            <img class="card-img-top" src="~/img/docker.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">card Title</h4>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: auto; padding: 10px; margin: 5px;">
            <img class="card-img-top" src="~/img/docker.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">card Title</h4>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: auto; padding: 10px; margin: 5px;">
            <img class="card-img-top" src="~/img/docker.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">card Title</h4>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: auto; padding: 10px; margin: 5px;">
            <img class="card-img-top" src="~/img/docker.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">card Title</h4>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: auto; padding: 10px; margin: 5px;">
            <img class="card-img-top" src="~/img/docker.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">card Title</h4>

            </div>
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div>
            <h6 style="text-align:center;">С дополнительной информацией можно ознакомиться по телефону или через наш телеграм канал. Проходите по ссылке и вступайте,чтобы не пропустить новости и события учебного центра</h6>
        </div>
        <div>
            <h6 style="text-align:center;"><a href="https://t.me/ilmsalohiyat" target="_blank">t.me/ilmsalohiyat</a></h6>
        </div>
    </div>
</div>