@{
    ViewData["Title"] = "О нас";
}

<h1 class="text-center text-uppercase">Адрес</h1>
<hr />
<h6>
    Ilm_saliyat NTM начал свою деятельность по повышению квалификации в 2016 году. В течение последних 5 лет студенты высших учебных заведений и колледжей, а также дети-сироты обучались на курсах "Основы предпринимательства и налогообложения" и "бухгалтерия для начинающих" со скидкой (до 20-50%).
    Во время пандемии учебный процесс был временно приостановлен из-за проблем со здоровьем слушателей.
    В настоящее время прием на курс начался, записывайтесь на обучение и изучайте профессию бухгалтера.
</h6>

<h3 class="text-center text-uppercase">Сертификаты</h3>
<div class="container">
    <div class="row">
        <div class="col-sm-3" style="margin-bottom:20px;">
            <img  style="height:250px; width: auto;" src="~/img/Certificat/cert1.jpg" alt="Сертификаты">
        </div>
        <div class="col-sm-3" style="margin-bottom:20px;">
            <img  style="height:250px; width: auto;" src="~/img/Certificat/cert2.jpg" alt="Сертификаты">
        </div>
    </div>
</div>